/* App.css */
body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    background-color: #424040; /* Fundo cinza */
    font-family: Arial, sans-serif;
  }

label, p{
  display: block;
  text-align: center;
}

input{
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 5px;
}

button{
  display: block;
  margin-top: 2px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}


